/* Palette: https://colorhunt.co/palette/3936464f45576d5d6ef4eee0 */

body {
  background: #393646;
}
.landing {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  background: #393646;
  color: #F4EEE0;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 50px;
  gap: 80px;
  font-size: 25px;
  text-decoration: none;
}

.header--links {
  margin-left: auto;
  display: flex;
  gap: 30px;
}
.header--links > a {
  color: #393646;
  background: #F4EEE0;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.2s;
}
.header--links > a:hover {
  transform: scale(1.10)
}
.landing--title {
  color: #F4EEE0;
  font-size: 85px;

}
.landing--container {
  height: 70%;
  display: flex;
  margin: 40px auto;
  padding: 150px 0;
  flex-direction : column;
  align-items: center;
  justify-content: center;

}

.about--section {
  color: #F4EEE0;
  background-color:#393646;
  padding: 20px;
  height: 100%;

}
.about--description {
  padding: 20px 60px;
  padding-right : 200px;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #F4EEE0
}